<template>
  <v-container
    id="regular-tables"
    fluid
    tag="section"
  >
    <base-v-component
      heading="Vos produits"
      link="components/simple-tables"
    />

    <base-material-card
      icon="mdi-clipboard-text"
      title="Vos produits"
      class="px-5 py-3"
    >
      <v-simple-table>
        <thead>
          <tr>
            <th class="primary--text">
              Image
            </th>
            <th class="primary--text">
              Label
            </th>
            <th class="primary--text">
              Référence
            </th>
            <th class="primary--text">
              Prix 100g
            </th>
            <th class="primary--text">
              Prix kg
            </th>
            <th class="primary--text">
              Producteurs
            </th>
            <th class="primary--text">
              Disponibilité
            </th>
            <th class="text-right primary--text">
              Afficher
            </th>
            <th class="text-right primary--text">
              QR Code
            </th>
            <th class="text-right primary--text">
              Retirer
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <img src="https://via.placeholder.com/50">
            </td>
            <td>Riz blanc</td>
            <td>00001</td>
            <td>0.5</td>
            <td>
              5€
            </td>
            <td>AsiaRice</td>
            <td><v-icon color="info">mdi-check</v-icon></td>
            <td class="text-right"><v-icon color="info">mdi-pencil</v-icon></td>
            <td class="text-right"><v-icon color="info">mdi-qrcode</v-icon></td>
            <td class="text-right"><v-icon color="info">mdi-close</v-icon></td>
          </tr>
        </tbody>
      </v-simple-table>
    </base-material-card>

    <div class="py-3" />
  </v-container>
</template>
